<% jqgrid_widget_block_to_partial 'jqgrid_widget/panel_frame' do %>
	<table class="layout_table">
		<tr>
			<td>Name</td>
			<td><%= text_field_tag 'program[name]', @record.name, :size => 60 %></td>
		</tr>
		<tr>
			<td colspan="2">
				<%= submit_tag @record.new_record? ? "Add" : "Update" %> 
				<%= cancel_button %>
			</td>
		</tr>
	</table>
<% end %>
