[submodule "vendor/plugins/apotomo"]
	path = vendor/plugins/apotomo
	url = git://github.com/apotonick/apotomo.git
[submodule "vendor/plugins/cells"]
	path = vendor/plugins/cells
	url = git://github.com/apotonick/cells.git
[submodule "vendor/plugins/jqgrid_widget"]
	path = vendor/plugins/jqgrid_widget
	url = git://github.com/paulhagstrom/jqGrid_widget.git
[submodule "vendor/plugins/jqGrid"]
	path = vendor/plugins/jqGrid
	url = git://github.com/tonytomov/jqGrid.git
