<div class="fancytable_edit_panel">
	<% form_for :contact, @contact, :url => { :action => "contact_submit" }, :html => {:id => 'contact_form'} do |f| %>
	<table>
		<tr>
			<td>Type</td>
			<td><%= f.select :contact_type_id, ContactType.find(:all).map {|t| [t.name, t.id]} %></td>
		</tr>
		<tr>
			<td colspan="2"><%= f.text_area :body, :size => '20x1' %></td>
		</tr>
		<tr>
			<td>
				<%= submit_tag 'Submit', :id => 'contact_submit' %>
			</td>
		</tr>
	</table>
	<% end %>
</div>
<script type="text/javascript">
jQuery('#contact_submit').bind("click", function(e) {
	var panelId = jQuery(this).closest('.open_edit_panel').attr('id');
	var options = {
		success: function(response) {
			jQuery(this).closest('.open_edit_panel').removeClass('open_edit_panel').addClass('closing_edit_panel').slideUp('normal', function() { jQuery(this).remove();});
			jQuery(this).closest('.ui-jqgrid-btable').trigger('reloadGrid');
		},
		target: '#' + panelId,
		url: '/people/contact_submit/<%= @contact.id %>?authenticity_token=' + encodeURIComponent(rails_authenticity_token),
	}
	jQuery(this).closest('form').ajaxSubmit(options);
	return false;
})
</script> 
