<div class="fancytable_edit_panel">
	<% form_for :log, @log, :url => { :action => "log_submit" }, :html => {:id => 'log_form'} do |f| %>
		<%= f.text_area :body, :size => '20x1' %><br />
		<%= submit_tag 'Submit', :id => 'log_submit' %>
	<% end %>
</div>
<script type="text/javascript">
jQuery('#log_submit').bind("click", function(e) {
	var panelId = jQuery(this).closest('.open_edit_panel').attr('id');
	var options = {
		success: function(response) {
			jQuery(this).closest('.open_edit_panel').removeClass('open_edit_panel').addClass('closing_edit_panel').slideUp('normal', function() { jQuery(this).remove();});
			jQuery(this).closest('.ui-jqgrid-btable').trigger('reloadGrid');
		},
		target: '#' + panelId,
		url: '/people/log_submit/<%= @log.id %>?authenticity_token=' + encodeURIComponent(rails_authenticity_token),
	}
	jQuery(this).closest('form').ajaxSubmit(options);
	return false;
})
</script> 
