<div class="fancytable_edit_panel">
	<% form_for :person, @person, :url => { :action => "name_submit" }, :html => {:id => 'myForm'} do |f| %>
	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td>Name</td>
						<td><%= f.text_field :name, :size => '15' %></td>
					</tr>
					<tr>
						<td>(field)</td>
						<td>(edit field here)</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>(field)</td>
						<td>(edit field here)</td>
					</tr>
					<tr>
						<td>(field)</td>
						<td>(edit field here)</td>
					</tr>
				</table>
			</td>
			<td>
				<%= submit_tag 'Submit', :id => 'ft_submit' %>
			</td>
		</tr>
	</table>
	<% end %>
</div>
<script type="text/javascript">
jQuery('#ft_submit').bind("click", function(e) {
	var panelId = jQuery(this).closest('.open_edit_panel').attr('id');
	var options = {
		success: function(response) {
			jQuery(this).closest('.open_edit_panel').removeClass('open_edit_panel').addClass('closing_edit_panel').slideUp('normal', function() { jQuery(this).remove();});
			jQuery(this).closest('.ui-jqgrid-btable').trigger('reloadGrid');
		},
		target: '#' + panelId,
		url: '/people/name_submit/<%= @person.id %>?authenticity_token=' + encodeURIComponent(rails_authenticity_token),
	}
	jQuery(this).closest('form').ajaxSubmit(options);
	return false;
})
</script> 
