<%#= html_filters %>
<table class="layout_table">
	<tr>
		<td valign="top">
			<%= html_table_to_wire %>
		</td>
		<td valign="top">
			<%#= rendered_children["#{@prefix}section"] %>
		</td>
		<td valign="top">
			<%#= rendered_children["#{@prefix}program"] %>
		</td>
	</tr>
</table>
<%#= wire_live_search %>
<%= wire_jqgrid({
	# :caption => 'People',
	:height => 350,
	# :enable_panel => 'title',
	# :pager => {:rows => 20, :rows_options => '2,5,2500'},
	# :sortname => 'name'
}) %>
<%#= wire_filters %>
