<% jqgrid_widget_block_to_partial 'jqgrid_widget/panel_frame' do %>
	<table class="layout_table">
		<tr>
			<td>
				<table class="layout_table">
					<tr>
						<td>Name</td>
						<td><%= text_field_tag 'person[name]', @record.name, :size => 15 %></td>
					</tr>
					<tr>
						<td>(field)</td>
						<td>(edit field here)</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="layout_table">
					<tr>
						<td>(NAME)</td>
						<td>(edit field here)</td>
					</tr>
					<tr>
						<td>(field)</td>
						<td>(edit field here)</td>
					</tr>
				</table>
			</td>
			<td>
				<%= submit_tag @record.new_record? ? "Add" : "Update" %><br />
				<%= cancel_button %>
			</td>
		</tr>
	</table>
<% end %>