<table class="layout_table">
	<tr>
		<td valign="top">
			<%= html_table_to_wire %>
		</td>
		<td valign="top">
			<%= rendered_children["#{@prefix}employee_section"] %>
		</td>
		<td valign="top">
			<%= rendered_children["#{@prefix}person"] %>
		</td>
	</tr>
</table>
<%= wire_jqgrid %>
