<h1>People</h1>

<table>
	<tr>
		<td>Modes:</td>
		<td>notes</td>
		<td>contacts</td>
		<td>aac</td>
	</tr>
</table>
<div id="markup">
<table>
	<tr>
		<td colspan="8">
			Paginator, add new person
		</td>
	</tr>
	<tr>
		<td valign="top">
			<table border="1" id="people_table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Degrees</th>
						<th>Advisors</th>
						<th>Status</th>
						<th>Flags</th>
						<th>AAC</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
				<% for person in @people %>
					<tr>
						<td><%= person.name %></td>
						<td><%= degrees_cell(person.students) %></td>
						<td>None</td>
						<td>None</td>
						<td>None</td>
						<td>None</td>
						<td>Edit</td>
						<td>Delete</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</td>
		<td valign="top">
			<p>Filters:</p>
			<p>Blah blah</p>
		</td>
	</tr>
</table>
</div>
<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.EnhanceFromMarkup = function() {
        var myColumnDefs = [
            {key:"name",label:"Name",sortable:true},
            {key:"degrees",label:"Degrees",sortable:false},
            {key:"advisors",label:"Advisors",sortable:false},
            {key:"status",label:"Status",sortable:true},
            {key:"flags",label:"Flags",sortable:true},
            {key:"aac",label:"AAC",sortable:false},
            {key:"edit",label:"Edit",sortable:false},
            {key:"delete",label:"Delete",sortable:false}
        ];

        var myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("people_table"));
        myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        myDataSource.responseSchema = {
            fields: [{key:"name"},
                    {key:"degrees"},
                    {key:"advisors"},
                    {key:"status"},
                    {key:"flags"},
                    {key:"aac"},
                    {key:"edit"},
                    {key:"delete"}
            ]
        };

        var myDataTable = new YAHOO.widget.DataTable("markup", myColumnDefs, myDataSource,
                {caption:"People table",
                sortedBy:{key:"name",dir:"asc"}}
        );
        
        return {
            oDS: myDataSource,
            oDT: myDataTable
        };
    }();
});
</script>
