<table class="layout_table">
	<tr>
		<td valign="top">
			<%= html_table_to_wire %>
		</td>
	</tr>
	<tr>
		<td valign="top">
			<%= @rendered_children["#{@prefix}advisor"] %>
		</td>
	</tr>
</table>
<%= wire_jqgrid({
	:caption => 'Degree tracks',
	:height => 50,
	# :enable_panel => 'title'
}) %>
